<div class="container">
  <h2 style="text-align: center; font-style: normal;margin-top: 5px; margin-bottom: 10px;">Modifier un utilisateur</h2>
  <form (ngSubmit)="onSubmit()" style="max-width: 500px; margin: auto;">
    <div class="form-row">
      <div class="form-group col-lg-4">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="user.nom" name="nom" placeholder="Entrez votre nom" required>
      </div>
      <div class="form-group col-lg-4">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" [(ngModel)]="user.prenom" id="prenom" name="prenom" placeholder="Entrez votre prénom">
      </div>
      <div class="form-group col-lg-4">
        <label for="tel">Téléphone</label>
        <input type="number" class="form-control" [(ngModel)]="user.tel" id="tel" name="tel" placeholder="Entrez votre téléphone">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-lg-4">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" id="password" name="password" placeholder="Entrez votre mot de passe">
      </div>
      <div class="form-group col-lg-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="user.email" id="email" name="email" placeholder="Entrez votre email">
      </div>
      <div class="form-group col-lg-4">
        <label for="type">Type</label>
        <select class="form-control" [(ngModel)]="user.type" id="type" name="type">
          <option value="admin">Admin</option>
          <option value="vendeur">Vendeur</option>
          <option value="user">User</option>
        </select>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-lg-4">
        <label for="cin">Cin</label>
        <input type="number" class="form-control" [(ngModel)]="user.cin" id="cin" name="cin" placeholder="Entrez votre CIN">
      </div>
      <div class="form-group col-lg-4">
        <label for="codePostal">Code Postal</label>
        <input type="number" class="form-control" [(ngModel)]="user.codePostal" id="codePostal" name="codePostal" placeholder="Entrez votre code postal">
      </div>
      <div class="form-group col-lg-4">
        <label for="pays">Pays</label>
        <input type="text" class="form-control" [(ngModel)]="user.pays" id="pays" name="pays" placeholder="Entrez votre pays">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-lg-4">
        <label for="ville">Ville</label>
        <input type="text" class="form-control" [(ngModel)]="user.ville" id="ville" name="ville" placeholder="Entrez votre ville">
      </div>
    </div>
  
    <div style="display: flex; justify-content: space-between;">
      <button type="submit" class="btn btn-success">Enregistrer</button>
      <button type="button" class="btn btn-danger" (click)="goBack()">Retour</button>
    </div>
  </form>
</div>